!!! 5
%html
  %head
    %title Kurs | #{@page_title}
    = csrf_meta_tags
    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice 
    %p.alert= alert

    =login_helper
      
    = yield 

    =render "shared/nav", location: 'bottom'

    =source_helper("blog")
  
